.food-container {
  box-sizing: border-box;
  display: flex;
  align-items: center;

  .food {
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding: 80px 10px 50px 10px;
    width: 200px;

    .box {
      position: relative;
      border: 1px solid #d6d6d6;
      border-radius: 10px;
      box-shadow: 2px 2px 6px #a7a7a7;

      img {
        height: calc(100% - 35px);
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
      }

      img:hover {
        opacity: 0.5;
        transition: 0.4s;
      }

      p {
        position: absolute;
        top: 50%;
        width: 100%;
        text-align: center;
      }

      div {
        height: 35px;
        button {
          $box-size: 30px;
          background: none;
          border: none;
          height: $box-size;
          width: $box-size;
        }

        svg {
          filter: drop-shadow(0 0 2px black);
        }

        .like-button {
          position: absolute;
          bottom: 0;
          left: 0;
          margin: 0;
        }

        .dislike-button {
          position: absolute;
          bottom: 0;
          right: 0;
          margin: 0;
        }
      }
    }
  }
}
