.recommendation {
  background-color: white;
  display: flex;
  flex: 1;
  overflow: auto;
  padding: 0 10px;

  h1 {
    $font-position: 30px;
    font-weight: normal;
    position: absolute;
    margin: $font-position 0 0 ($font-position - 10px);
    font-size: 18px;
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}
