@font-face{
    font-family: Ssangmun;
    src:url('../fonts/Typo_SsangmunDongB.ttf') format('truetype'); 
}
@font-face{
    font-family: maple;
    src:url('../fonts/Maplestory\ Light.ttf') format('truetype');
    
}
 #logo{
    height: 50px;
    margin-left: 35%;
}
.page{
    background:url('/images/gaelle-marcel-8FBGykN3XcQ-unsplashl.jpg');
    background-size: cover;
    height: 100%;
    width:100%;
    align-items: center;

.back{
   

.QnA_Form{
    font-family: Ssangmun;
    text-align:center;
    height: 80%;
    padding: 20px;
   .inbox{
       text-align: left;
    
   }
    label{
        font: icon;
    }

    input{
        font-family: maple;
        border-radius: 0.5em;
        width: 10em;
        height: 2em;
        font-size: 15px;
        width:120px;
    }

    input::placeholder{
        color: #7e91ae;
    }
    label{
        font-family: maple;
    }
    button {
        font-family: Ssangmun;
        display: inline-block;
        justify-content: center;
        width: 40px;
        height: 25px;
        background-color: #95c7ff;
        color: white;
        font-size: 15px;
        
      }
     #remove{
         font-family: maple;
         display: inline;
         justify-content: center;
         background-color: #ffffff00;
         align-items: right;
         font-size: 15px;
         opacity: 0.9!important;
         color: rgb(248, 116, 116);
         padding-top: 0px;
        // margin-top: 6px;
         margin-left: 10px;

     }
     #remove:hover{
         background-color: rgb(255, 31, 31);
         color:  #ffffff;
     }

     .list{
        
        margin-top: 10px;
        opacity: 0.9!important;
       
        }
    #picture{
        height: 200px;
        width: 300px;
    }
    .bbox{
        height: 300px;

    }
    .box{
        height: 600px;
    }
    #foodname{
        font-family: maple;
    }
    .slider{
        height: 100px;
        .MuiSlider-root{
            width:70%;
        }
    }
    #discrete-slider-custom{
        font-family: maple;
        text-align: left;
        margin-left: 30%;
    }
    #next{
        font-family: maple;
        display: inline;
        justify-content: center;
        background-color: #ffffff00;
        align-items: right;
        font-size: 15px;
        opacity: 0.9!important;
        color:  #95c7ff;
      
    }
    #next:hover{
        background-color:  #95c7ff;
        color:  #ffffff;
    }
    #change {
        width: 100px;
        background-color: #ffffff00;
        color: #95c7ff;
        font-family: maple;
    }
    #change:hover{
        background-color:  #95c7ff;
        color:  #ffffff;
    }
    
}
}
}