@font-face{
  font-family: Ssangmun;
  src:url('../fonts/Typo_SsangmunDongB.ttf') format('truetype');
  
}
@font-face{
  font-family: maple;
  src:url('../fonts/Maplestory\ Light.ttf') format('truetype');
  
}

.signup-page{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

  .signup-container {
    box-sizing: border-box;
    background-color: white;
    width: 350px;
    height: 450px;
    border: solid 1px lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 40px 0;
    img {
        width: 180px;
        margin-bottom: 30px;
      }
      input {
        font-family: maple;
        width: 270px;
        height: 30px;
        margin-bottom: 15px;
      }
      .genderbox{
        font-family: maple;
        width: 270px;
        height: 40px;
        #gender{
          label{
            margin-right: 20px;
          }
         
        }
      }
      .MuiFormGroup-root {
        display: inline-block;
    }
    .MuiRadio-root{
      font-family: maple;
      color: #95c7ff;
    }
    .MuiFormControlLabel-root {
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      /* margin-left: -11px; */
      margin-right: 16px;
      vertical-align: middle;
      -webkit-tap-highlight-color: transparent;
  }

      button {
        font-family: maple;
        display: flex;
        justify-content: center;
        margin-top: 15px;
        width: 270px;
        height: 30px;
        background-color: #95c7ff;
        color: white;
        font-size: 15px;
        border: none;
      }
      
  }        
}
