.submit-button-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      margin-bottom: 15px;
    }
  }
}

label {
  cursor: pointer;
}

.input-button {
  font-size: 12px;
  padding: 5px 10px;
  margin-top: 10px;
}